$orange: hsl(26, 100%, 55%);
$lightOrange: #ffac6a;
$paleOrange: hsl(25, 100%, 94%);
$veryDarkBlue: hsl(220, 13%, 13%);
$darkGrayishBlue: hsl(219, 9%, 45%);
$grayishBlue: hsl(220, 14%, 90%);
$lightGrayishBlue: hsl(223, 64%, 98%);
$white: hsl(0, 0%, 100%);
$black: hsl(0, 0%, 0%);
$blackOpacity: hsla(0, 0%, 0%, 0.75);

$xs: 375px;
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$xxl: 1400px;

$z-drawer: 10;
$z-backdrop: 9;
$z-cart: 8;
$z-header: 7;
$z-modal: 20;
